@import url(' https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
:root{
    --VeryDarkGrayishBlue: hsl(217, 19%, 35%);
    --DesaturatedDarkBlue: hsl(214, 17%, 51%);
    --GrayishBlue: hsl(212, 23%, 69%);
    --LightGrayishBlue: hsl(210, 46%, 95%);
    --fontize: 13px;
}
*{
    box-sizing: border-box;
    margin: 0;
    font-family: "Manrope", sans-serif;
}
body, div{
    display: flex;
}
/* div:not(.info-container){
    display: flex;
} */

body{
    padding: 2.5em 1.5em;
    background-color: var(--LightGrayishBlue);
    align-items: center;
    justify-content: center;
    height: 100dvh;
}

article{
    max-width: 26em;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    overflow: hidden;
    .img-container{
        overflow: hidden;
        img{
            width: 100%;
            height: 100%;
        }
    }
    .preview-info{
        padding: 1em;
        flex-direction: column;
        line-height: 1.5em;
        p{
            margin: 10px;
            font-size: 13px;
        }
        .bolder{
            font-size: clamp(0.938rem, 0.848rem + 0.238vw, 1.063rem);
        }
    }
    .share-icon{
        align-self: center;
        border-radius: 50%;
        height: clamp(1.875rem, 1.652rem + 0.595vw, 2.188rem);
        padding: 0.2em;
        background-color: var(--LightGrayishBlue);
    }
    .share-icon:hover{
        cursor: pointer;
    }
    
}

.author-container{
    justify-content: space-around;
    /* padding: 1.3rem 0.5rem;  */
    align-items: center;
    .img-author{
        border-radius: 50%;
        height: clamp(2.5rem, 1.607rem + 2.381vw, 3.75rem);
    }
    .author{
        flex-direction: column;
        justify-content: center;
        p, h1{
            font-size: 13px;
        }
    }
}

.social-media{
    background-color: var(--VeryDarkGrayishBlue);
    justify-content: space-around;
    padding: 0.8rem;
    align-items: center;
    display: none;
    img{
        height: 20px;
    }
    h2{
        font-size: 15px;
        letter-spacing: 3px;
        color: var(--LightGrayishBlue);
        font-weight: 300;
    }
}
i{
    padding: 0.5em;
    font-size: 15px;
    background-color: var(--GrayishBlue);
    border-radius: 50%;
}
i:hover{
    cursor: pointer;
}

.hide{
    display: none;
}
.show{
    display: flex !important; 
}
.info-container{
    flex-direction: column;
    justify-content: space-between;
}

@media (min-width:850px){
    article{
        flex-direction: row;
        max-width: 47em;
        height: 19em;
        .img-container{
            width: 100%;
        }
        .info-container{
            padding: 1em;
        }
    }
    .social-media{
        display: none;
        border-radius: 10px;
        position: absolute;
        bottom: 38%;
        right: 19%;
        width: 15em;
    }
}
/* 2:45 pm  */