@import url(' https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
:root{
    --VeryDarkGrayishBlue: hsl(217, 19%, 35%);
    --DesaturatedDarkBlue: hsl(214, 17%, 51%);
    --GrayishBlue: hsl(212, 23%, 69%);
    --LightGrayishBlue: hsl(210, 46%, 95%);
    --fontize: 13px;
}
*{
    box-sizing: border-box;
    margin: 0;
    font-family: "Manrope", sans-serif;
    color: var(--VeryDarkGrayishBlue);
}
body, div, article{
    display: flex;
}
article, .info-container, .preview-info, .author{
    flex-direction: column;
}

body{
    padding: 2.5em 1.5em;
    background-color: var(--LightGrayishBlue);
    align-items: center;
    justify-content: center;
    height: 100dvh;
}

article{
    max-width: 26em;
    background-color: white;
    border-radius: 8px;
    .img-container{
        img{
            width: 100%;
            height: auto;
        }
    }
    .preview-info{
        padding: 1em;
        line-height: 1.5em;
        p{
            margin: 10px;
            font-size: 13px;
        }
        .bolder{
            font-size: clamp(1rem, 0.866rem + 0.357vw, 1.188rem);
            font-weight: 900;
        }
    }
    .share-icon{
        align-self: center;
        border-radius: 50%;
        height: clamp(1.875rem, 1.652rem + 0.595vw, 2.188rem);
        padding: 0.2em;
        background-color: var(--LightGrayishBlue);
    }
    .share-icon:hover{
        cursor: pointer;
    }
    
}

.author-container{
    align-items: center;
    display: grid;
    grid-template-columns: 3.2em 1fr 1fr;
    grid-gap: 0 15px;
    padding: 0 2.5em 1em 1.5em;
    .img-author{
        border-radius: 50%;
        height: clamp(2.5rem, 1.607rem + 2.381vw, 3.75rem);
    }
    .author{
        p, h1{
            font-size: 13px;
        }
    }
    i{
        justify-self: flex-end;
    }
}

.social-media{
    background-color: var(--VeryDarkGrayishBlue);
    justify-content: space-around;
    padding: 0.8rem;
    align-items: center;
    border-radius: 0 0 8px 8px  ;
    display: none;
    img{
        height: 18px;
    }
    h2{
        font-size: 15px;
        letter-spacing: 3px;
        color: var(--LightGrayishBlue);
        font-weight: 300;
    }
}
i{
    padding: 0.5em;
    font-size: 17px;
    background-color: var(--GrayishBlue);
    border-radius: 50%;
    color: var(--VeryDarkGrayishBlue);
}
i:hover{
    cursor: pointer;
}

.hide{
    display: none;
}
.show{
    display: flex !important; 
}

@media (min-width:850px){
    article{
        flex-direction: row;
        max-width: 42em;
        .info-container{
            padding: 0.5em;
        }
    }
    .social-media{
        position: absolute;
        transform: translate(93.5%, 9.5em);
        width: 15em;
        border-radius: 8px;
    }
    .social-media::after{
        content: "";
        width: 25px;
        height: 25px;
        background-color: var(--VeryDarkGrayishBlue);
        position: absolute;
        top: 74%;
        transform: rotate(45deg);
    }
    #share-icon{
        color: white;
    }
}